<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Add user:</h2>
    <form method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <button type="submit">Submit</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
</div>
<div>
    <h2>
        Present users:
        {{user-list}}
    </h2>
</div>

</body>
</html>